@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

    @font-face {
    font-family: futura, open sans;
    src: local('Futura Std');
    }

    


/* General */
.body{font-family: open sans; font-size: 15px; color: #404040; text-align: justify;}
.row {display: flex;}
.column {flex: 50%;}
.width-full-mobile{width: 85%;}
b{color: #63615A;}
.page-margins{margin-left: 15%; margin-right: 15%;}
.background-color{background-color: #fffcef;}
.mobile-only{display: none;}
.page-profile{border-radius: 50%; margin-top: 40px;}
.web{display: block;}
.mobile{display: none;}
.note{font-family: open sans; color: #404040; font-size: 14px; font-style: oblique;}
.ninety-five{width: 95%;}

/* Home Page */
.hero-text{text-align: center; padding-top: 50px; font-weight: bold; font-family: open sans; font-size: 38px; color: #C5BD9C;}
.hero-container{width: 100%; left: 50%; right: 50%; margin: auto; background-size: 100%; background-repeat: no-repeat; height: 281px;}
.hero-subtext{text-align: center; margin-top: -25px; font-family: open sans; font-size: 17pt; color: #63615A;}
.hero-work1{text-align: right; margin-top: -40px; font-family: open sans; font-size: 15px; color: #63615A; margin-right: 5px;}
.hero-work2{text-align: left; margin-top: -40px; font-family: open sans; font-size: 15px; color: #63615A; margin-left: 5px;}

.theheader{width: 100%; border-bottom: 1px solid #63615A; display: inline-block; height: 50px; background-color: #ffff; font-family: futura, open sans; color: #63615A;}
.header-left{float: left; font-weight: bold; margin-left: 5%; margin-top: 10px; font-size: 20pt;}
.header-right{float: right; margin-right: 5%; margin-top: 13px; font-weight: normal;}

.display{display: flex;}
.displayedwork{flex: 33%;}

a{text-decoration: none !important; color: #63615A;}

.LDDVerify-Hero{display: flex; width: 50%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}
.LDDVerify-Hero:hover{display: flex; width: 60%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

.Issues-Home-Hero{display: flex; width: 60%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}
.Issues-Home-Hero:hover{display: flex; width: 70%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

.RW-Home-Hero{display: flex; width: 80%; justify-content: center; margin: auto; ; padding: 20px; transition-duration: 0.4s;}
.RW-Home-Hero:hover{display: flex; width: 90%; justify-content: center; margin: auto; ; padding: 20px; transition-duration: 0.4s;}

.page-texts{text-decoration: none !important; font-family: futura, open sans; color: #63615A; margin-bottom: -7px;}

/*images*/
.old-verify{width: 100%;}

/* Headers */
.header{font-weight: bold; font-size: 17px; color: #63615A; font-family: futura, open sans;}
.page-header{font-family: futura, open sans; margin-top: -50px; color: #63615A; font-size: 25px; border-bottom: 2px solid #63615A; padding-bottom: 5}
.section-header{width: 100%; font-family: futura, open sans; font-size: 17px; color: #63615A; border-bottom: 2px solid #63615A; padding-bottom: 5px;}

/* Overview Table */
.overview-table{width: 100%; display: inline-block;}
.leftside{width: 85%;}


/* Started Panels */
.panel{display: flex; margin-top: 15px;}
.panel .left{width: 15%;}
.panel .left img{width: 80px; margin-left: 20px;}
.panel .right{width: 85%;}
.panel li{width: 100%; margin-left: -40px;}
.panel ul{font-family: open sans; color: #63615A; font-size: 15px; margin-bottom: 5px;}
.quote{width: 70%;}
.big-quotes{width: 80px; margin-left: 20px;}

/* Hero Image */
.hero-image-container{position: relative; margin: auto; top: 400px; left: 50%; right: 50%; transform: translate(-50%, -50%); display: inline-block; margin-bottom: 100px;}
.verify-hero{width: 700px;}
.issues-hero{width: 600px;}
.rw-hero{width: 700px; margin-bottom: 70px;}
.rw-hero-2{width: 900px;}
.hero-image-container-rw{position: relative; margin: auto; top: 250px; left: 50%; right: 50%; transform: translate(-50%, -50%); display: inline-block;}
.hero-image-container-issues{position: relative; margin: auto; margin-bottom: 80px; top: 250px; left: 50%; right: 50%; transform: translate(-50%, -50%); display: inline-block;}

/* Footer Card */
.footer-card{display: flex; margin-top: 15px; margin-bottom: 120px}
.footer-card img{margin-top: 45px; width: 80px; margin-left: 20px; border-radius: 50%;}
.contact-button{padding: 7px 30px 7px 30px; border: 2px solid #C5BD9C; border-radius: 3px; font-family: futura, open sans; cursor: pointer;}
.contact-button a{text-decoration: none; color: #63615A;}


@media only screen and (max-width: 1000px) {

    /* Headers */
    .page-margins{margin-left: 7%; margin-right: 7%;}
    .panel .left{display: none;}
    .panel ul{font-family: open sans; color: #63615A; font-size: 15px; margin-left: 20px; width: 100%;}
    .mobile-only{display: block;}
    .quote{width: 100%;}
    .big-quotes{display: none;}
    .mobile-only{display: inline-block;}
    .body{text-align: left;}
    .rw-hero{width: 600px; margin-bottom: 100px;}
    .rw-hero-2{width: 800px;}
    .leftside{width: 85%;}

    .LDDVerify-Hero{display: flex; width: 50%; justify-content: center; margin: auto; padding: 30px; transition-duration: 0.4s;}
    .LDDVerify-Hero:hover{display: flex; width: 60%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

    .Issues-Home-Hero{display: flex; width: 60%; justify-content: center; margin: auto; padding: 30px; transition-duration: 0.4s;}
    .Issues-Home-Hero:hover{display: flex; width: 70%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

    .RW-Home-Hero{display: flex; width: 80%; justify-content: center; margin: auto; ; padding: 30px; transition-duration: 0.4s;}
    .RW-Home-Hero:hover{display: flex; width: 90%; justify-content: center; margin: auto; ; padding: 20px; transition-duration: 0.4s;}

    }


@media only screen and (max-width: 600px) {
.page-margins{margin-left: 5%; margin-right: 5%;}
.justify{text-align: left;}
.mobile-only{display: inline-block;}
.row {display: block}
.column {margin-top: 20px;}
.body{text-align: left;}
.width-full-mobile{width: 100%;}
.rw-hero{width: 350px; margin-bottom: 185px;}
.rw-hero-2{width: 450px; }
.leftside{width: 100%;}
.web{display: none;}
.mobile{display: block;}
.ninety-five{width: 100%;}

.quote{width: 100%;}
.big-quotes{display: none;}

.hero-text{text-align: center; padding-top: 50px; font-weight: bold; font-family: open sans; font-size: 38px; color: #C5BD9C;}
.hero-container{width: 100%; left: 50%; right: 50%; margin: auto; background-size: 100%; background-repeat: no-repeat; height: 281px;}
.hero-subtext{text-align: center; margin-top: -25px; font-family: open sans; font-size: 17pt; color: #63615A; margin-right: 14%; margin-left: 14%;}
.hero-work1{display: none;}
.hero-work2{display: none;}

.theheader{width: 100%; border-bottom: 1px solid #63615A; display: inline-block; height: 50px; background-color: #ffff; font-family: futura, open sans; color: #63615A;}
.header-left{float: left; font-weight: bold; margin-left: 5%; margin-top: 10px; font-size: 20pt;}
.header-right{float: right; margin-right: 5%; margin-left: 35px; margin-top: 13px; font-weight: normal;}

.display{display: block;}
.displayedwork{margin-bottom: 30px;}

a{text-decoration: none !important; color: #63615A !important;}

.LDDVerify-Hero{display: flex; width: 50%; justify-content: center; margin: auto; padding: 30px; transition-duration: 0.4s;}
.LDDVerify-Hero:hover{display: flex; width: 60%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

.Issues-Home-Hero{display: flex; width: 60%; justify-content: center; margin: auto; padding: 30px; transition-duration: 0.4s;}
.Issues-Home-Hero:hover{display: flex; width: 70%; justify-content: center; margin: auto; padding: 20px; transition-duration: 0.4s;}

.RW-Home-Hero{display: flex; width: 80%; justify-content: center; margin: auto; ; padding: 30px; transition-duration: 0.4s;}
.RW-Home-Hero:hover{display: flex; width: 90%; justify-content: center; margin: auto; ; padding: 20px; transition-duration: 0.4s;}

.issues-hero{width: 300px; margin-top: -40px;}
.hero-image-container-issues{top: 160px; padding-bottom: 20px;}
.verify-hero{width: 300px;}


.page-texts{text-decoration: none !important; font-family: futura, open sans; color: #63615A; margin-bottom: -7px;}


/* Headers */
.panel .left{display: none;}
.panel ul{font-family: open sans; color: #63615A; font-size: 15px; margin-left: 20px; width: 100%;}


/* Headers */
.page-header{font-size: 20px; border-bottom: 1px solid;}
.section-header{font-size: 14px;}
.hero-image-container{top: 180px;}

/* Home Page */
.background-1{background-color: #C5BD9C; width: 300px; height: 750px; border-radius: 206pt 206pt 0pt 0pt; position: absolute; margin-top: 20pt;}
.about-container{right: 13%; margin: auto; position: relative;}
.profilepic-background{background-color: #EAE1BC; width: 280px; height: 300px; border-radius: 206pt 206pt 0pt 0pt; z-index: 1; position: absolute;}
.profilepic{width: 170px; transform: translate(34%, 30%); border-radius: 50%;}
.about-text{z-index: 1; color: #63615A;  position: fixed; padding: 10px 40px 10px 10px; font-size: 18px; background-color: #EAE1BC; font-family: futura, open sans; margin: 320px 0px 2px 10px;}
.projects-container{position: absolute; margin-top: 800px; left: 7%;}
}


